.footer {
  padding: 60px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121;
  opacity: 0.7;
}
