.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn {
  display: flex;
  flex-direction: row;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: auto;
  opacity: 0.7;
  color: #212121;
  background: none;
  border: none;
  padding: 0;
  gap: 8px;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
  opacity: 0.7;
}

.profile__add-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 149px;
  height: 52px;
  padding: 18px 18px 32px;
  gap: 8px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  align-items: flex-start;
  align-self: flex-end;
}

.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
    border-radius: 8px;
  }
  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__column {
    margin-bottom: 20px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .profile__edit-btn {
    margin: 0 auto;
  }

  .profile__add-btn {
    margin: 0 auto;
    width: 100%;
  }
}
